@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Flow+Circular&family=Poppins&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Flow+Circular&family=Poppins&family=Spinnaker&display=swap');


.header2 {
  width: 300px;
  height: 1140px;
  border: 2px solid black;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #000000;
}

.main-part{
  display: flex;
}

.section2 {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 30px;
}

.home2 {
  display: flex;
  margin-top: 20px;
}

.logo2 {
  margin-left: 0px;
}

.homep2 {
  color: white;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.06em;
}

.image2 {
  display: flex;
  justify-content: center;
}
.search2 {
  color: white;
  display: flex;
}

.searchp2 {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  font-family: DM Sans;
  font-size: 20px;
}

.library2 {
  display: flex;
}

.libraryp2 {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  font-family: DM Sans;
  font-size: 20px;
  color: white;
}

.font2 {
  margin-top: 20px;
}

.playlists2 {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  color:black;
}

.playlist {
  margin-top: 80px;
  display: flex;
  
}
.playlistimage {
  background-color: white;
  
}

.create {
  display: flex;
 justify-content: center;
  padding-left: 30px;
  font-family: DM Sans;
  font-size: 20px;
  color: white;
  
}

.liked {
  display: flex;
}
.likesong {
  display: flex;
  justify-content:center;
  padding-left:20px;
  font-family: DM Sans;
  font-size: 20px;
  color: white;
}

.album-art{
 margin-top: 320px;
 margin-left: 0px;
}

.art{
  background-position: center;
  
}


.side-component{
  width: 1495px;
  height: 1140px;
  border: none;
  margin-top: 10px;
  
}

.upper-boady{
  width: 1495px;
  height: 534px;
  background: linear-gradient(180deg, #90AEA7 0%, #000000 89.7%);
  display: flex;
  padding: 10px;
}


.pop-right-now{
 margin-top: 280px;
 margin-bottom: 20px;
}

.pop-right-now:hover{
  filter: drop-shadow(28px 2px 24px #9CB5B5);

}

.playlist{
font-family: Spinnaker;
font-size: 13px;
font-weight: 700;
line-height: 16px;
letter-spacing: -0.02em;
text-align: left;
margin-top: 290;
color: white;

}

.text-2{
  margin-top: 210px;
}

.pop{
font-family: Circular Std;
font-size: 90px;
font-weight: 900;
line-height: 50px;
letter-spacing: -0.02em;
text-align: left;
color: white;
margin-top: 5px;

}

.lorem{
font-family: Circular Std;
font-size: 14px;
font-weight: 400;
line-height: 10px;
letter-spacing: -0.02em;
text-align: left;
color: white;
margin-top: initial;

}

.spotify{
font-family: sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 10px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF;
background-color: black;
}

.uls{
  display: flex;
  color: white;
  margin-bottom: 20px;
  
  
}

.lower-boady{
  width: 1495px;
  height:570px;
  background-color: #353333;
  padding: 10px;

}

.image33{
  padding: 10px;
  margin-left: 30px;
}

.footer-background {
  display: flex;
  align-items: center;
  background-color: black;
  margin-left: 10px;
}

.artist-title {
  margin-left: 17px;
  float: left;
}
.music-player {
  justify-content: center;
  margin-left: 170px;
}

.right-option {
  float: right;
  margin-left: 100px;

}







